body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
     

}
section {
    padding: 0 100px;
    background: url(gambar/bg1.png);
    height: 100vh;
    display: flex;
    align-items: center;    
}

.box {
    position: relative;
    max-width: 600px ;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);

}
.box h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 36px;
    text-transform: capitalize;
    color: blue;

}